name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * MON' # every 30 minutes
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1.8
        with:
          owner: red667
          base: main
          head: main
